AuthType Basic
AuthName "restricted area"
AuthUserFile /home/s/c/scastillobaez/public_html/cps276/06/.htpasswd
require valid-user

RewriteEngine on
RewriteCond %{REQUEST_URI} !^/~scastillobaez/cps276/06/main.php
RewriteRule (.*) /~scastillobaez/cps276/06/main.php/$1 [L,QSA]